body{
    width:100½;
    height:100½;
    background-color: black ;
}
/*Navbar*/
#navbar li{
  overflow: hidden;
  list-style-type: none;
  padding: 0px;
  width: 100px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  font-family: calibri,arial,verdana;
  line-height: 50px;
  float: right;
}

#navbar a{
  padding-top: 5px;
  text-decoration: none;
  color: darkgrey;
  display: block; 
  text-align: center;
  transition: 1s; 
  
}

#navbar span{
  display: block;
  margin-top:-60px;
}

#navbar a:hover{

  color: white;
  margin-top:55px;
  
  
}   
#logo {
    grid-area: logo;
    justify-self: auto;
    align-self: auto;
}

.center {
    margin-left: 350px;
    margin-right: auto;
    margin-top: 250px;
  }
  .center2 {
    margin-left: 900px;
    margin-right: auto;
    margin-top: -250px;
    
  }

  #about{
    color:white;}
    a:hover {
      color:bisque;
    }
    a:visited {
      color:yellow ;
    }